/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

#main {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: black;

}

#card{
  width: 500px;
  height: 280px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}
#card h1{
  text-align: center;
}
#outer{
  width: 100%;
  height: 15px;
  background-color: rgba(128, 128, 128, 0.474);
  border-radius: 10px;
}

#inner{
  width: 0%;
  height: 15px;
  background-color: green;
  border-radius: 10px;
}
#bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

.btn{
  background-color: green;
  color: white;
  font-weight: 700;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 28px;
  
}