*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
   width: 100%;
   height: 100%;
}
#main{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    width: 400px;
    height: 500px;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 55%; 
     position: relative;
    border-radius: 12px;

}
#card h1{
    text-align: center;
    font-size: 50px;
    

}
#card i{
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
  
    opacity: 0;
   
     /* Instagram heart color */
  color: #ff2d55;

  transform: translate(-50%, -50%) scale(0) rotate(-60deg);
  opacity: 0;

  transition:
    transform 0.45s cubic-bezier(.17,.89,.32,1.49);
}

#img-div{
    width: 100%;
    height: 400px;
     position: relative;
    border-radius: 12px;
    background-color: red;
    overflow: hidden;

}