*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    overflow: hidden;
}
button{
    padding: 30px 50px;
    font-weight: 600;
    color: white;
    border: 1.9px solid white;
    background-color: rgb(255, 0, 0);
    border-radius: 28px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    z-index: 9;
 
}
button:active{
    scale: 1.05;
}