* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    width: 400px;
    height: 450px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
#card img{
    width: 90%;
    height:250px ;
    object-fit: cover;
    border-radius: 10px;
    object-position: top;
}
#card h1{
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}
#card #btn{
    border-radius: 28px;
padding: 10px 30px;
  cursor: pointer;
  font-weight: 600;
}
#btn:active{
    scale: 1.1;
}
#status{
    min-height: 24px; 
     
}