@import url('https://fonts.cdnfonts.com/css/gilroy');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Gilroy', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #111;
    position: relative;
   padding-top: 20px;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
#main h2{
    font-size: 4vw;
    border-bottom: 2px solid white;
    text-align: center;
    color: #fff;
    font-weight: 900;
}

.elem{
    width: 100%;
    height: 120px;
    border-bottom: 2px solid rgb(255, 255, 255);
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
}
.elem h1{
    font-size: 5vw;
    color: white;
    font-weight: 900;
    position: absolute;
    z-index: 10;
    mix-blend-mode: difference;
    transition: all linear 0.4s;
}
.elem img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    transform: translate() scale(1);
    border-radius: 50%;
    opacity: 0;
    transition: all linear 0.4s;
}
