* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card {
  height: 80vh;
  width: 28vw;
  background-color: #1e1e1e;
  border-radius: 10px;
  position: relative;
  border: 2px solid #2a2a2a;
  overflow: hidden;
}
#storiyan {
  width: 100%;
  height: 18vh;
  /* background-color: red; */
  padding: 1vh;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom:   2px solid #2a2a2a;
}
#storiyan::-webkit-scrollbar{
    display: none;
}
.story {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  margin-right: 0.8vw;
  /* border thickness */
  border: 4px solid transparent;

  /* gradient border */
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box,
    linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5)
      border-box;
      overflow: hidden;
      display: inline-block;
}
.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
#fullscreen{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: red;
    display: none;
    background-position: bottom;
    background-size: cover;

}
#bar{
    width: 100%;
    height: 6px;
    background-color: #1e1e1e;
}
#bar-inner{
    width: 0%;
    height: 100%;
    background-color:#fff;
}
