*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
#inc{
    background-color: transparent;
    color: azure;
    border: 2px solid white ;
    border-radius: 28px;
    width: 200px;
    height: 80px;
}
#dnc{
    background-color: transparent;
    color: azure;
    border: 2px solid white ;
    border-radius: 28px;
    width: 200px;
    height: 80px;
}
h1{
    font-size: 80px;
}