* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
#pannel {
  width: 80%;
  height: 90%;
  background-color: #fff;
  border-radius: 18px;
  overflow: hidden;
  
}
#ptop {
  width: 100%;
  height: 100px;
  background-color: rgb(72, 104, 72);
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
}
.elem {
  width: 15%;
  display: flex;
  padding: 2vh 1vh;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.elem h1{
    font-weight: 800;
    color: #fff;
}
.box {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  font-size: 30px;
  font-weight: 600;
  color: rgb(72, 104, 72);
}

#pbottom{
    width: 100%;
    height: calc( 100% - 100px);
    display: flex;
    padding-left: 30px ;
    padding-top: 30px ;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.bubble{
    background-color:rgb(72, 104, 72) ;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:20px;
}
.bubble:hover{
    background-color: rgb(41, 68, 41);
}

